body {
  font-family: "Noto Sans KR", sans-serif !important;
}

.books-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px 20px;
}

.book-author {
  display: flex;
  justify-content: center;
}

.book-title {
  display: flex;
  justify-content: center;
}
